
body {
    font-family: 'Fira Sans', sans-serif !important;
}

.MuiBox-root{
    padding: 0 !important;
}

.MuiTabs-indicator {
    background-color :#838992 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color : #707070 !important;
    font-family: inherit;
}

.MuiButtonBase-root{
    font-family: inherit !important;
}
